[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

 %% graphsom config
 {graphsom, [
             {report_interval, 30000},     %% report interval (ms)
             {graphite_host, "localhost"},
             {graphite_port, 2003},
             {graphite_prefix, "graphsom."}, %% prefix added to all metrics
             {vm_metrics, [memory,
                             system_info,
                             statistics,
                             process_info,
                             port_info]}
             ]}

].

